@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  margin: 0;
  padding: 0;
  height: auto;
  background: linear-gradient(
    180deg,
    rgba(236, 242, 230, 0.9) 0%,
    rgba(236, 242, 230, 0) 34%
  );
}

body,
p {
  margin: 0;
}

input:focus,
input:active {
  outline: none;
  border: none;
}

.rdp-chevron {
  fill: #4f574d !important;
}

.rdp-selected .rdp-day_button {
  border: 2px solid #4f574d !important;
}

.rdp-today:not(.rdp-outside) {
  color: #4f574d !important;
  font-weight: 700;
}

.rdp-caption_label {
  color: #4f574d;
}

.spoilt-delete,
.soon-delete,
.fresh-delete {
  transition: all 0.3s ease-in-out;
}

.spoilt-delete:hover,
.soon-delete:hover,
.fresh-delete:hover {
  background-color: #f3dddd;
  color: transparent;
}

.spoilt-delete:hover::before,
.soon-delete:hover::before,
.fresh-delete:hover::before {
  content: "Удалить";
  position: absolute;
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #9a5752;
}

.soon-delete:hover::before {
  margin-left: -3px;
}

.spoilt-delete:hover::before {
  margin-left: 10px;
}
