@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: "Source Code Pro", Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  color: #687063;
  margin: 0;
  padding: 0;
  height: auto;
}

body,
p {
  margin: 0;
}

input:focus,
input:active {
  outline: none;
  border: none;
}

.rdp-chevron {
  fill: #4f574d !important;
}

.rdp-selected .rdp-day_button {
  border: 2px solid #4f574d !important;
}

.rdp-today:not(.rdp-outside) {
  color: #4f574d !important;
  font-weight: 700;
}

.rdp-caption_label {
  color: #4f574d;
}

.rdp-day:hover {
  background: #eaf3e3;
  border-radius: 100%;
}

.gradient {
  background: RGBA(236, 242, 230, 0.9);
  background: linear-gradient(
    178deg,
    rgba(236, 242, 230, 0.9) 0%,
    rgba(236, 242, 230, 0) 60%
  );
  margin: 0;
  padding: 0;
  position: fixed;
  inset: 0;
  z-index: -10000;
}
